<div id="container">
  <h1>{{ title }}</h1>

  <a routerLink="/employees">Back</a>

  <div class="form">
    <label for="id">Employee ID</label>
    <div class="input">
      <input type="text" name="id" [(ngModel)]="emData.id" disabled/>
    </div>
    
    <label for="name">Name</label>
    <div class="input">
      <input type="text" name="name" [(ngModel)]="emData.name" />
    </div>

    <label for="department">Department</label>
    <div class="input">
      <input type="text" name="department" [(ngModel)]="emData.department"/>
    </div>

    <div id="action">
      <input type="button" id="btn" value="Submit" (click)="onSubmit()" /><!-- 
      <input type="button" id="btn" value="Cancel" routerLink="/employees" /> -->
    </div>
  </div>
</div>

