/* You can add global styles to this file, and also import other style files */
#container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
}

#btn{
    background-color: #E6E6E6; 
    border: none;
    padding: 3px 25px 4px 25px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 5px;
    margin-top: 2px;
}

#action{
    #btn{ 
        margin-right: 53px;
        margin-bottom: 10px;
    }
}

.form{
    margin-top: 15px;
    margin-left: 10px;
    
}
.input{
    margin-bottom: 25px;
    margin-top: 5px;
    input{
        font-size: 16px;
        padding: 3px 10px 3px 10px;
        width: 217px;
    }
}

h1{
    margin-bottom: 8px;
}

table, th, td{
    border: 1px solid rgb(97, 97, 97);
    padding: 5px;
    
}
table{
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
}
thead{
    background-color: #CCCCCC;
    
}

tbody{
    tr:hover{
        background-color: #ECECEC;
    }
}



        