<div id="container">
  <h1>{{title}}</h1>

  <a routerLink="/employees">Back</a>
 
  <div class="form">
    <label for="id">Employee ID</label>
    <div class="input">
      <input type="text" name="id" [(ngModel)]="emDataNow.id" value="{{emDataNow.id}}" disabled/>
    </div>
    
    <label for="name">Name</label>
    <div class="input">
      <input type="text" name="name" [(ngModel)]="emDataNow.name" value="{{emDataNow.name}}"/>
    </div>

    <label for="department">Department</label>
    <div class="input">
      <input type="text" name="department" [(ngModel)]="emDataNow.department" value="{{emDataNow.department}}"/>
    </div>

    <div id="action">
      <input type="button" id="btn" value="Save" (click)="onSave()" />
      <input type="button" id="btn" value="Delete" (click)="onDelete()" />
    </div>
    
  </div>
  
</div>
